

#heading1 {
  font-family: fantasy;
  font-size: 70px;
  text-align: center;
}

#heading2 {
  font-family: fantasy;
  text-align: center;
  font-size: 25px;
}
#table1 {
  align-items: center;
}

.brainpic {
  justify-content: center;
  display: flex;
}




/*  Celide put this */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */


body{
  background-color: white;
}
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
  vertical-align: sub;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  background-color:rgba(169,169,169,0.3);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 50px;
  font-weight: bold;
  transition: opacity .3s, visibility .3s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;

}
