body {
  font-family: 'Pontano Sans', sans-serif;
}

#head1 {
  text-align: left;
  text-shadow: 2px 1px black;
  font-family: cursive;
  font-size: 50px;
}
.name {
  font-weight: bolder;
  font-size: 28px;
  font-family: sans-serif;
}

img {
  border-radius: 50%;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 1);


}
.profile-card {
  background-color: lightgrey;
  border-radius: 10px;
  width: 450px;
  height: 600px;
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 14px;
}


.profiles {
  display: flex;
  justify-content: space-around;

}

.H {
  background-color: black;
  color: black;
  font-family: fantasy;
  font-weight: bolder;
  position: relative;
  right: 185px;
  font-size: 50px;
}

.connect1 {
  font-family: serif;
  font-size: 15px;
  
}
.connect {
  font-size: 20px;
  font-weight: lighter;
  font-family: sans-serif;

}
