body {
  font-family: 'Pontano Sans', sans-serif;
}

.profile-card {
  background-color: skyblue;
  border-radius: 10px;
  width: 450px;
  height: 600px;
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 14px;
}

.profiles {
  display: flex;
  justify-content: space-around;
}
