
.head1 {
  text-align:center;
  font-family: copperplate;
  font-size: 50px;
  text-decoration: underline;
}

#head2 {
  text-align: left;
  font-family: monospace;
  font-size: 20px
}

#head3 {
  text-align: center;
  font-family: cursive;
}

#brtitle {
  text-align: center;
  font-size: 50px;

}

#img1 {
  position: fixed;
  left: 80%;
}

#img2 {
  position: fixed;
  right: 80%;
}
@keyframes example {
  0% {color: blue;}
  25% {color: red;}
  50% {color: yellow;}
  75% {color: green}
  100% {color: blue;}
}
.buttonNQ {
 border: none;
 text-shadow: 1px 1px black;
 background-color: lightgrey;
 text-align: center;
 font-weight: bolder;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 animation-name: example;
 animation-duration: 5s;
 animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
  0% {color: blue;}
  50% {color: #FF7F50;}
  100% {color: blue;}
}

/* The element to apply the animation to */
#q {
  width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#textboxesss {
  font-size: 20px;
  font-family: fantasy
}

.button {
  border: 2px solid black;
  text-shadow: 1px 1px black;
  background-color: #FF6347;
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#wa {
  border: 1px solid black;
  color: red;
  background-color: yellow;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;


}
