<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet">
    <title>ABOUT US Celide/Hunter/Nosa</title>
  </head>

  <body>
    <div class="homeButt">
    <h1 id=head1>About Us</h1>
        <form action="/" >
          <button class="H" id=buttons type="submit" value="Home">Home</button>
        </form>
    </div>

    <div class="profiles">
      <div class="profile-card">
  	     <h2 class = name>Hunter Syas</h2>
       <div class="portrait">
         <img class="portrait" src="https://media.licdn.com/dms/image/C4E03AQEcuo8-KCQv_g/profile-displayphoto-shrink_200_200/0?e=1570060800&v=beta&t=qb8nwaRMNxmcOIaJSwQk3qKJupf2_PzKWMqR7Hqmewg" height="300px" width="300px">
  	   </div>
       <p class = connect1 > Hunter is a student at Texas A&M University pursing a degree in Chemical Engineering and a minor in Computer Science.</p>
  	   <p class="connect" >Connect with Hunter...</p>
  	      <a href="https://www.linkedin.com/in/hunter-syas-623192180/"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" height="45px" width="45px"></a>
     </div>

     <div class="profile-card">
  	    <h2 class = name >Celide Bazan Corros</h2>
  	   <div class="portrait">
        <img src="https://media.licdn.com/dms/image/C4E03AQEqr9xg6ig2wg/profile-displayphoto-shrink_200_200/0?e=1570060800&v=beta&t=l12CD1NaKFCP7OcobeqGRfqxXU1VxXkisqStplx6yXs" height="300px" width="300px">
  	   </div>
        <p class = connect1>Celide is a student at Univeristy of Houston pursuing a degree in Computer Engineering. </p>
  	    <p class="connect" >Connect with Celide...</p>
          <a href="https://www.linkedin.com/in/celide-bazan-corros-b72639184/"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" height="45px" width="45px"></a>
      </div>

     <div class="profile-card">
        <h2 class = name >Nosawaru Efemwonkieke</h2>
  	   <div class="portrait">
        <img class="portrait" src="https://media.licdn.com/dms/image/C5603AQGlEHrOglInsg/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=X-lTjj1FwWM-SrXctOBxBvHwe_ws_HQqtelBm0FFDLo" height="300px" width="300px">
  	   </div>
        <p class = connect1>Nosawaru is a student at Simon Fraser University pursuing a degree in Computer Science.</p>
  	    <p class="connect" >Connect with Nosawaru...</p>
          <a href="https://www.linkedin.com/in/nosawaru-efemwonkieke-356326138/"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" height="45px" width="45px"></a>
      </div>
    </div>


  </body>
</html>
