<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Cerebellum</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/seperate_lobe_pages.css">
  </head>
  <body background = "https://media.istockphoto.com/vectors/vector-smart-home-pattern-with-word-smart-home-background-vector-id964864440">
    <h1 class = Cerebullum id = head1 >Cerebullum</h1>
    <p>
    <h2 id = head2>The CEREBELLUM part of the brain is literally the brain <br>
      of the brain!  It takes in a majority of the information that
      was <br> interpreted from the rest of the body and produces a
      voluntary <br> muscular response. It also controls balance,
      coordination, <br> speech, and determines movement.


    </h2>
    <h4 id=head4>*Highlighted Buttons are linked to a researched interactive Gaming Site*</h4>
    <table>
      <h3 id = head3>Ways to Improve: </h3>
    </table>

      <div>

      <form action="" >
        <button class = "disabled C" id=buttons type="submit" >Exercising</button>
      </form>

      <form action="https://www.coolmathgames.com/0-run">
        <button class = "C" id=buttons type="submit">Intense Focus Activities</button>
      </form>

      <form action="https://www.coolmathgames.com/0-papas-cheeseria " >
        <button  class=" C" id=buttons type="submit" >Multi-Tasking Activities</button>
      </form>

      <form action="" >
        <button  class="disabled C" id=buttons type="submit" >Balanced Diet</button>
      </form>

      <form action="https://www.merriam-webster.com/" >
        <button  class="C" id=buttons type="submit" >Expanding Knowledge</button>
      </form>

      </div>

      <div class="homeButt">
      <form action="/" >
        <button class="H" id=buttons type="submit" value="Home">Home</button>

      </form>
      </div>


  </body>
</html>
