<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Frontal Lobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/seperate_lobe_pages.css">
  </head>
  <body background = "https://media.istockphoto.com/vectors/vector-smart-home-pattern-with-word-smart-home-background-vector-id964864440">
    <h1 class = FrontalLobe id = head1 >Frontal Lobe</h1>
    <p>
    <h2 id = head2>The FRONTAL LOBE controls important
      human functions <br> and skills such as our emotional expression,
      movement, memory, and “Fight or Flight” <br>judgement. It's the control
      center for our body and gives us our unique <br> personality and
      communication abilities.
    </h2>
    <h4 id=head4>*Highlighted Buttons are linked to a researched interactive Gaming Site*</h4>
    <table>
      <h3 id = head3>Ways to Improve: </h3>
    </table>

      <div>
      <form action="https://media1.giphy.com/media/WRZWkySp8IW2AoDC86/source.gif">
        <button class=FL id=buttons type="submit">Give Hugs</button>
      </form>

      <form action=" https://www.coolmathgames.com/trivia/logos-revealed" >
        <button class=FL id=buttons type="submit" value="Pattern Recognition">Pattern Recognition</button>
      </form>

      <form action="https://www.coolmathgames.com/0-minesweeper" >
        <button  class=FL id=buttons type="submit" value="Judgement Skills">Judgement Skills</button>
      </form>

      <form action="" >
        <button class="disabled FL" id=buttons type="submit" value="Ping Pong">Ping Pong</button>
      </form>

      <form action="" >
        <button class="disabled FL" id=buttons type="submit" value="Tae Kwon Do">Tae Kwon Do</button>
      </form>

      <form action="" >
        <button class="disabled FL" id=buttons type="submit" value="Zumba">Zumba</button>
      </form>
      </div>

      <div class="homeButt">
      <form action="/" >
        <button class="H" id=buttons type="submit" value="Home">Home</button>

      </form>
      </div>


  </body>
</html>
