<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Occipital Lobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/seperate_lobe_pages.css">
  </head>
  <body background = "https://media.istockphoto.com/vectors/vector-smart-home-pattern-with-word-smart-home-background-vector-id964864440">
    <h1 class = OccipitalLobe id = head1 >Occipital Lobe</h1>
    <p>
    <h2 id = head2>The OCCIPITAL LOBE is the part of the brain
      that has a <br>primary function of receiving information
      from the retina <br>of the eyes and interprets that
      light into visible images. It is where color <br>and the
      3D world as we know it is stitched together <br> into
      a single masterpiece.

    </h2>
    <h4 id=head4>*Highlighted Buttons are linked to a researched interactive Gaming Site*</h4>
    <table>
      <h3 id = head3>Ways to Improve: </h3>
    </table>

      <div>
      <form action="">
        <button class = "disabled OL" id=buttons type="submit">Watch a 3D movie</button>
      </form>

      <form action="" >
        <button class = "disabled OL" id=buttons type="submit" >VR simulation</button>
      </form>

      <form action="http://www.primarygames.com/socstudies/transportation/games/crazytaxi/" >
        <button  class=" OL" id=buttons type="submit" >Driving (no GPS) “Crazy Taxi” </button>
      </form>

      <form action="https://www.coolmathgames.com/0-reversi " >
        <button class=" OL" id=buttons type="submit" >Visualization Exercises</button>
      </form>

      <form action="https://www.coolmathgames.com/0-color-memory" >
        <button class=" OL" id=buttons type="submit" >Color Memorization</button>
      </form>

      </div>

      <div class="homeButt">
      <form action="/" >
        <button class="H" id=buttons type="submit" value="Home">Home</button>

      </form>
      </div>


  </body>
</html>
