<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Parietal Lobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/seperate_lobe_pages.css">
  </head>
  <body background = "https://media.istockphoto.com/vectors/vector-smart-home-pattern-with-word-smart-home-background-vector-id964864440">
    <h1 class = ParietalLobe id = head1 >Parietal Lobe</h1>
    <p>
    <h2 id = head2> The PARIETAL LOBE is where the majority of sensory signals and nerve
      communication <br> occurs. Which helps determine warmth, cold, pain,
      touch, and <br>even determine our surroundings! In fact, this is
      where the left hemisphere <br>is more involved with the right side
      and the right hemisphere is <br>more involved with the left side of
      our bodies.
    </h2>
    <h4 id=head4>*Highlighted Buttons are linked to a researched interactive Gaming Site*</h4>
    <table>
      <h3 id = head3>Ways to Improve: </h3>
    </table>

      <div>
      <form action=" https://www.coolmathgames.com/0-chess ">
        <button class = PL id=buttons type="submit">Playing Chess</button>
      </form>

      <form action=" https://www.coolmathgames.com/0-checkers " >
        <button class = PL id=buttons type="submit" >Playing Checkers</button>
      </form>

      <form action="" >
        <button  class=" disabled PL" id=buttons type="submit" >Trying to Write with different hands</button>
      </form>

      <form action="" >
        <button class=" disabled PL" id=buttons type="submit" >Juggling</button>
      </form>

      <form action="https://www.coolmathgames.com/0-solitaire " >
        <button class=" PL" id=buttons type="submit" >Arranging Items</button>
      </form>

      </div>
      <div class="homeButt">
      <form action="/" >
        <button class="H" id=buttons type="submit" value="Home">Home</button>

      </form>
      </div>


  </body>
</html>
