<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/progress.css">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body  background="https://i.pinimg.com/originals/e5/83/3e/e5833e1bea7d379f0f4e4ae250b7cf81.gif">
    <div id = progress>
    <h1>Your Progress</h1>
    <div class="progress">
      <h3>Frontal Lobe</h3>
    	<progress class="frontal" max="100" value="30">30%</progress>
    	<h3>Parietal Lobe</h3>
    	<progress class="parietal" max="100" value="83">50%</progress>
    	<h3>Temporal Lobe</h3>
    	<progress class="temporal" max="100" value="60">70%</progress>
    	<h3>Occipital Lobe</h3>
    	<progress class="occipital" max="100" value="47">90%</progress>
      <h3>Cerebellum</h3>
    	<progress class="cerebellum" max="100" value="71">90%</progress>
    </div>
  </div>
  <div class="homeButt">
  <form action="/" >
    <button class="H" id=buttons type="submit" value="Home">Home</button>

  </form>
  </div>
  </body>
</html>
