<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Temporal Lobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/seperate_lobe_pages.css">
  </head>
  <body background = "https://media.istockphoto.com/vectors/vector-smart-home-pattern-with-word-smart-home-background-vector-id964864440">
    <h1 class = TemporalLobe id = head1 >Temporal Lobe</h1>
    <p>
    <h2 id = head2>The TEMPORAL LOBE part of the brain is mainly involved with your
      auditory <br> cortex.  It takes in ‘hearing’ information from the
      ears such as speech and <br> noise.  Then translates that information
      into understandable <br> context for the rest of the brain to generate
      the necessary response.


    </h2>
    <h4 id=head4>*Highlighted Buttons are linked to a researched interactive Gaming Site*</h4>
    <table>
      <h3 id = head3>Ways to Improve: </h3>
    </table>

      <div>

        <form action="https://www.coolmathgames.com/0-memory3" >
          <button class = "TL" id=buttons type="submit" >Memorization </button>
        </form>

      <form action="">
        <button class = "disabled TL" id=buttons type="submit">Singing</button>
      </form>



      <form action="https://www.duolingo.com/" >
        <button  class=" TL" id=buttons type="submit" >Learning a Language</button>
      </form>

      </div>

      <div class="homeButt">
      <form action="/" >
        <button class="H" id=buttons type="submit" value="Home">Home</button>

      </form>
      </div>

  </body>
</html>
